<ion-header>
  <ion-toolbar class="header-bg">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Members & Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="default" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="default">
      <ion-label>CUSTOMERS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>SUPPLIER</ion-label>
    </ion-segment-button>
    <ion-segment-button value="others" (click)="showOthers()">
      <ion-label>ADD STAFF</ion-label>
    </ion-segment-button>
  </ion-segment>



  <!-- Floating Action Button (Add Customer) -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="segment === 'default'">
    <ion-fab-button (click)="addCustomer()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Floating Action Button (Add Supplier) -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="segment === 'segment'">
    <ion-fab-button (click)="addSupplier()">
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>